@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&display=swap');

@import "normalize";

// Variables
$badge_w: 300px;
$badge_pad: 16px;
$shape_size: 60%;
$icon_size: 66%;

$color_black: #454545;
$color_white: #f4f4f4;

$Montserrat: 'Montserrat', sans-serif;

// Global
body {
  font-family: $Montserrat;
}

header, footer {
  height: 100px;
  background: gray;
}

#screenshot {
  margin: 0 auto;
}

// single-badge
.badge-container {
  padding: 16px;

  @media screen and (min-width: 700px) {
    display: flex;
    justify-content: space-around;
  }
}

.badge {
  width: $badge_w;
  box-sizing: border-box;
  padding: $badge_pad;
  text-align: center;
  background: transparent;
  margin: 0 auto;

  &.black {
    color: $color_black;
  }

  &.white {
    color: $color_white;
  }

  p {
    margin: 4px 0;
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 700;
    line-height: 1.1;

    &.award {
      text-transform: uppercase;
    }

    &.org {
      font-weight: 400;
      text-transform: uppercase;
      font-size: 16px;
      margin-top: 8px;
    }
  }

  .graphic {
    width: $shape_size;
    height: auto;
    position: relative;
    margin: 8px auto;
    display: block;
    clear: both;

    .shape {
      width: 100%;
      height: auto;
    }

    .icon {
      width: $icon_size;
      height: auto;
      z-index: 2;
      position: absolute;
      left: calc(50% - #{$icon_size} / 2);
      top: calc(50% - #{$icon_size} / 2);
    }
  }
}
.oec-ribbon {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;

  img {
    width: 60%;
    border-radius: 4px;
    margin-left: -2px;
    margin-bottom: 10px;
  }
}

//Facebook post image (square)
.facebook-post {
  width: 1200px;
  height: 1200px;
  background: #3E8FDD;
  position: relative;
  display: flex;
  align-content: center;

  .oec-white {
    top: 32px;
    left: calc(50% - 165px);
    position: absolute;
    width: 331px;
    height: 106px;
  }

  .oec-white img {
    width: auto;
    height: 100%;
  }

  .badge {
    width: 600px;
    position: absolute;
    top: 200px;
    left: calc(50% - 600px/2);

    p {
      font-size: 44px;

      &.org {
        font-size: 32px;
        margin-top: 12px;
      }
    }

    .award,
    .year {
      overflow: visible;
      white-space: nowrap;
      text-align: center;
      margin: 24px -300px;
    }
  }

  .name_wrapper {
    height: 300px;
    width: 800px;
    margin-left: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.oea-title {
  position: absolute;
  bottom: 32px;
  text-align: center;
  width: 100%;
  color: $color_white;
  font-size: 32px;
  font-weight: 700;
}

.sun-rays {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #1F377A, rgb(81, 159, 232));
  -webkit-mask-image: repeating-conic-gradient(transparent 0 10deg, white 0 20deg);
}

.bg-square {
  background-image: url('../img/bg-square.svg');
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.bg-wide {
  background-image: url('../img/bg-wide.svg');
  position: absolute;
  width: 100%;
  height: 100%;
}

//Facebook cover image - (landscape)
.facebook-cover {
  width: 828px;
  height: 315px;
  background: #3E8FDD;
  position: relative;

  .oec-white {
    top: calc(50% - 90px/2);
    left: 70px;
    position: absolute;
    width: auto;
    height: 90px;

    img {
      width: 100%;
    }
  }

  .badge {
    width: 222px;
    position: absolute;
    top: 20px;
    left: calc(50% - 222px/2);

    p {
      font-size: 16px;

      &.org {
        font-size: 12px;
      }
    }
  }

  .oea-title {
    font-size: 16px;
    bottom: 50%;
    right: 32px;
    text-align: right;
    width: 30%;
    overflow: visible;
    white-space: nowrap;
  }

  .oea-logo {
    position: absolute;
    z-index: 10;
    right: -10px;
    top: 110px;
  }

  .oea-logo img {
    width: 80%;
    height: auto;
  }

  .award,
  .year,
  .name,
  .org {
    overflow: visible;
    white-space: nowrap;
    text-align: center;
    margin: 4px -200px;
  }

  .award {
    margin-top: -10px;
  }

  .year {
    margin-bottom: 20px;
  }

  .name {
    margin-top: 20px;
  }
}

// Email Image

.email-image{
  width: 600px;
  height: 477px;
  background: #3E8FDD;
  position: relative;

  .oec-white {
    top: 16px;
    left: calc(50% - 180px /2);
    position: absolute;
    width: 180px;
    height: auto;

    img {
      width: 100%;
    }
  }

  .badge {
    width: 242px;
    position: absolute;
    top: 84px;
    left: calc(50% - 222px/2);

    p {
      font-size: 18px;

      &.org {
        font-size: 14px;
      }
    }
  }

  .oea-title {
    font-size: 16px;
    bottom: 24px;
    text-align: center;
    width: 100%;
  }

  .award,
  .year,
  .name,
  .org {
    overflow: visible;
    white-space: nowrap;
    text-align: center;
    margin: 8px -180px;
  }

  .award {
    margin-top: 0px;
  }

  .year {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .name {
    margin-top: 30px;
  }
}

// Certificate
.certificate-image {
  height: 209mm;
  width: 297mm;
  display: flex;
  border: 1px solid gray;

  .content {
    position: relative;
    width: 250mm;
    padding: 15mm;
    box-sizing: border-box;
    color: #454545;
    background: transparent;

    .data {
      position: relative;
      padding-top: 10mm;
      z-index: 99;

      &:before {
        content: "";
        background: #FFE525;
        width: 40mm;
        height: 5mm;
        position: absolute;
        left: 0;
        top: -16px;
      }

      .badge-horizontal {
        display: flex;
        align-items: center;
        margin: 5mm 0 10mm;

        .icon {
          width: 80px;
          margin-right: 6mm;
        }

        .award {
        font-size: 32px;
        letter-spacing: -0.25px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0;
        }
      }

      .project {
        font-size: 54px;
        color: #454545;
        letter-spacing: -0.71px;
        font-weight: 700;
        margin: 6mm 0;
      }

      .name {
        margin: 12mm 0 6mm;
        font-size: 32px;
        letter-spacing: -0.31px;
      }

      .org {
        margin: 0;
        font-size: 24px;
        letter-spacing: -0.31px;
      }
    }

    .signatures {
      position: absolute;
      bottom: 20mm;
      left: 20mm;
      display: flex;
      width: 632px;
      justify-content: flex-start;

      .one, .two {
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        margin-right: 20mm;
        min-width: 40mm;
        border-top: 1px solid #454545;
        padding-top: 8px;
        position: relative;

        img {
          position: absolute;
          bottom: 102%;
          left: calc(50% - 93px);
          width: 186px;
        }

        p {
          line-height: 1.5;
        }

        span {
          font-size: 12px;
          font-style: italic;
          font-weight: 300;
          display: block;
        }
      }
    }
  }

  .ribbon {
    width: 47mm;
    background: #1F377A;
    padding: 10mm 10mm 10mm 5mm;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

    &:before {
      content: "";
      background: url(../img/logo-watermark.svg) no-repeat;
      background-size: contain;
      height: calc(326px * 1.6);
      width: calc(430px * 1.6);
      position: absolute;
      left: 110mm;
      top: 35mm;
      z-index: 0;
      mix-blend-mode: multiply;
    }

    .oec-oval {
      width: 35mm;
      align-self: flex-start;
      margin-right: -5px;
    }

    .oea-logo {
      width: 35mm;
      margin: 0 auto;
      align-self: flex-end;
    }

    .year {
      font-size: 24px;
      letter-spacing: 0.5px;
      font-weight: 700;
      color: $color_white;
      width: 100%;
      align-self: flex-end;
      text-shadow: 1px 1px 2px rgba(29, 29, 29, 0.8);
    }
  }
}
