<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Certificate Image</title>
  <meta name="description" content="Certificate">
  <meta name="author" content="OEC">

  <link rel="stylesheet" href="{{TEMPLATE_STATIC}}css/styles.css?v=1.0" media="screen, print">

  <style>
    @page {
      size: A4 landscape;
      margin: 0;
    }
    @media print {
      #screenshot {
        height: 209mm;
        width: 316mm;
        border: none;
      }
      /* ... the rest of the rules ... */

      .certificate-image .content {
        width: 270mm;
      }

      .ribbon {
        height: 223mm;
        margin-right: -20mm;
      }

      .year {
          -webkit-print-color-adjust:exact;
          -webkit-filter:opacity(1);
      }
    }
  </style>

	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</head>

<body>


  <div id="screenshot" class="certificate-image">

    <div class="content">

      <div class="data">

        <div class="badge-horizontal">
          <img src="{{TEMPLATE_STATIC}}img/badge/icon/{{data.icon}}.svg" class="icon">
          <div class="award">
            {{data.category}}
              <p class="award">Award for Excellence</p>
          </div>
        </div>

          <!-- <div class="project">{{data.project}}</div> -->
          <div class="project">{{data.winner1}}{% if data.winner2 %} {{data.winner2}}{% endif %}{% if data.winner3 %} {{data.winner3}}{% endif %}</div>
          {% if data.name != data.winner1 %}<div class="name">{{data.name}}</div>{% endif %}
          {% if data.institutionb %}<div class="org">{{data.institutionb}}{% if data.institutionc %}<br />{{data.institutionc}}{% endif %}</div>{% endif %}

      </div><!-- .data -->

        <div class="signatures">

          <div class="one">
            <img src="{{TEMPLATE_STATIC}}img/willem_signature.png">
            <p>Willem Van Valkenburg
            <span>President of the Board</span></p>
          </div>

          <div class="two">
            <img src="{{TEMPLATE_STATIC}}img/paulstacey_signature.png">
            <p>Paul Stacey
            <span>Executive Director</span></p>
          </div>
        </div>


    </div><!-- .content -->

    <div class="ribbon">
        <img src="{{TEMPLATE_STATIC}}img/oeg-white.svg" class="oec-oval">

        <div class="year">
          <img src="{{TEMPLATE_STATIC}}img/logo-tall.svg" class="oea-logo">
        </div>
    </div><!-- .ribbon -->


  </div><!-- .certificate-image -->
</body>
</html>
